[build]
  functions = "functions"
  publish = "public"

[functions]
  node_bundler = "esbuild"
  included_files = ["functions/**"]

[[redirects]]
  from = "/api/*"
  to = "/.netlify/functions/api/:splat"
  status = 200

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200
